body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.nikDancer{
  background: url(dancer-images/nikDancer.jpg);
  height: 115px;
  width: 115px;
  border: none;
  border-radius: 50%;
  position:absolute;
}
.jamesDancer{
  background: url(dancer-images/jamesDancer.jpg);
  height: 93px;
  width: 86px;
  border: none;
  border-radius: 50%;
  position:absolute;
}
.jonathanDancer{
  background: url(dancer-images/jonathanDancer.jpg);
  height: 90px;
  width: 90px;
  border: none;
  border-radius: 50%;
  position:absolute;
}
.hunterDancer{
  background: url(dancer-images/hunterDancer.jpg);
  height: 81px;
  width: 98px;
  border: none;
  border-radius: 50%;
  position:absolute;
}
.couch{
  background: url(dancer-images/couch.jpg);
  height: 325px;
  width: 344px;
  position:absolute;
  bottom: 10px;
  right: 10px;
  visibility: hidden; 
}
a.couchButton {
  color: #555555;
}